.assign-task-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.assign-task-title {
  font-size: 28px;
  color: #034078;
  text-align: center;
  margin-bottom: 20px;
}

.assign-task-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group label {
  font-size: 16px;
  color: #034078;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea,
.form-group select,
.form-group input[type="date"],
.form-group input[type="time"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.publish-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #1282A2;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.publish-button:hover {
  background-color: #034078;
}
