/* Footer */
.footer-section {
  background-color: #001F54; /* DARK BLUE */
  padding: 20px;
  text-align: center;
  color: #FFECFB; /* WHITE */
}

.footer-content p {
  font-size: 16px;
  margin: 5px 0;
}

.footer-content a {
  color: #1282A2; /* LIGHT BLUE */
  text-decoration: none;
}

.footer-content a:hover {
  color: #5fb1ff; /* BLUE */
}
