
.footer-section {
  background-color: #001F54;
  padding: 20px;
  text-align: center;
  color: #FFECFB;
}

.footer-content p {
  font-size: 16px;
  margin: 5px 0;
}

.footer-content a {
  color: #1282A2;
  text-decoration: none;
}

.footer-content a:hover {
  color: #5fb1ff;
}
