
<app-navbar-home></app-navbar-home>

<div class="container mt-4">
  <div class="middle-content">
      <h2>Bienvenido a <span class="highlight">ApoyoWeb</span></h2>
      <p>Tu plataforma para acceder a las mejores tutorías y contenido académico.</p>

      <a class="cta-button" routerLink="/auth/login" routerLinkActive="active">Únete ahora</a>
      <div class="middle-image">
          <img src="img/imagen-placeholder.png" alt="Imagen ApoyoWeb">
      </div>
  </div>
</div>


<app-footer></app-footer>
