.contact-container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  min-height: calc(100vh - 360px);

}

.contact-title {
  font-size: 32px;
  color: #034078;
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.contact-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}

.contact-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.contact-form {
  flex: 1;
  background-color: #fdfdff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  font-size: 14px;
  font-weight: bold;
  color: #034078;
  margin-bottom: 5px;
  display: block;
}

input, textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea {
  resize: none;
}

.send-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #034078;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.send-button:hover {
  background-color: #001F54;
}

.contact-info {
  flex: 1;
  text-align: left;
}

.contact-info h3 {
  font-size: 20px;
  color: #034078;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}
