<app-navbar-tutor></app-navbar-tutor>

<div class="homepage-tutor-container">
  <h1>Bienvenido, [Nombre del Tutor]</h1>
  <p>Esta es tu página de inicio. Aquí puedes acceder rápidamente a tus cursos y tutorías.</p>

  <div class="section-links">
    <a routerLink="/tutor/cursos-general" class="button-link">Ver Cursos</a>
    <a routerLink="/tutor/gestion-tutoria" class="button-link">Ver Tutorías</a>
    <a routerLink="/tutor/perfil" class="button-link">Editar Perfil</a>
  </div>
</div>



<app-footer></app-footer>
